.container {
  display: flex;
  height: 100vh;
}

.leftPanel {
  background: #ffffff;
  color: #000000;
  transition: flex 0.3s ease-in-out;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightPanel {
  background: #f0f0f0;
  color: #333333;
  flex: 1.75;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

input[type="email"] {
  margin-top: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftPanel,
  .rightPanel {
    flex: none;
    width: 100%;
    order: 2;
  }

  .leftPanel {
    order: 1;
    height: 150px; /* Adjust the height as needed */
    flex-basis: 150px; /* Adjust the flex-basis as needed */
  }
}